button[type="button"] {
  display: none;
}

.icon {
  cursor: pointer;
  font-size: 24px;
  transform: scaleX(-1);
}

.container {
  cursor: pointer;
  display: flex;
  height: 100%;
  align-items: center;
}
