.cardSection {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.draggableCard:active {
  cursor: grabbing;
}

.editCardSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
