body {
  margin: initial;
  background-color: #eee;
}
.root {
  background-color: #eee;
  filter: invert();
}

.outputContent {
  padding: 16px 32px;
  background: linear-gradient(145deg, #545252, #b4b0b0);
  box-shadow: 5px 5px 10px #545252, -5px -5px 10px #b4b0b0;
  box-sizing: border-box;
  border-radius: 8px;
}
