.modalContainer {
  border-radius: 8px;
  padding: 24px 12px;
  color: #292929;
  background-color: #eee;
  width: 450px;
  height: 300px;
}

.modalSelectSection {
  display: flex;
  justify-content: center;
}
.modalBottomButtonSection {
  display: flex;
  justify-content: space-around;
}
