.headerContainer {
  position: fixed; /* ヘッダーを固定する */
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: 100%; /* ヘッダーの横幅を指定する */
  height: 90px; /* ヘッダーの高さを指定する */
}
.headerWrapper {
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.layoutContainer {
  display: flex;
  justify-content: end;
}

.contentContainer {
  margin: auto;
}
